*{
    margin: 0;
    font-family: sans-serif;
    background-color: #e3e3e3;
}

.header{
    min-width: 1200px;
    background-color: #4d4d4d;
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
}

.body_container{
    text-align: center;
}

.body{
    display: inline-block;
    width: 1200px;
}

.body_head{
    padding-top: 60px;
    padding-bottom: 10px;
}

input{
    background-color: white;
    margin-bottom: 50px;
}

footer{
    text-align: center;
    margin-top: 40px;
    padding: 5px;
    background-color: #9d9d9d; 
}

a{
    background-color: inherit;
}