.container{
    margin: 0 auto;
    align-content: center;
    color: #646669;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #323437;
    padding: 30%;
    padding-top: 0px;
}

a{
    color: #FF7F27;
}

h1{
    color: #FF7F27;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: #FF7F27;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }