.divIn{
    align-content: center;
    text-align: center;
    font-size: 40px;
}

#optionsLabel{
    font-size: 25px;
    margin-top: 30px;
    font-family: 'Nunito', sans-serif;
    color: #FF7F27;
    padding-bottom: 10px;
}

#prompt{
    margin: 30px;
    margin-bottom: 0px;
    font-family: 'Nunito', sans-serif;
    color: #646669;
    border-style: dashed;
    border-bottom: hidden;
}

#in{
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border-width: 0px;
    background-color: #646669;
    text-align: center;
}

body{
    background-color: #323437;
    padding: 30%;
    padding-top: 0px;
}

#header{
    text-align: center;
    font-size: 60px;
    font-family: 'Nunito', sans-serif;
    color: #FF7F27;
    padding-top: 10px;
}

#image{
    position: relative;
    top: 10px;
}

#options{
    text-align: center;
    float: left;
    padding-left: 10px;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 6px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Nunito', sans-serif;
    color:  #646669;
    text-align: left;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #646669;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #FF7F27;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }